.product__list__header {
  display: flex;
  justify-content: flex-end;
  background-color: #0000000d;
  border: 1px solid #e7f2f0;
}

.sort__product label {
  padding: 5px;
  margin-right: 10px;
  margin-left: 11px;
  color: #808c8d;
}

select {
  margin: 6px 17px 6px 0;
  padding: 5px;
  border: 1px solid #e7f2f0;
  border-radius: 5px;
  background: #ffffff;
}
