.reset__psw__container {
  padding: 30px;
  max-width: 600px;
  margin: auto;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.reset__psw__header {
  display: flex;
  flex-direction: column;
}

.reset__psw__header h1 {
  font-size: 20px;
  color: #57b1ba;
  font-weight: 900;
}

.reset__psw__header p {
  color: #808c8d;
  margin-top: 17px;
}
.reset__psw__header input {
  outline: none;
  padding: 15px 20px 15px 20px;
  margin: 30px 0;
  border: #e7f2f0;
  border-radius: 5px;
  background-color: #ffffff;
}

.reset__psw__header input:focus {
  outline: 1px solid #57b1ba;
}

.reset__psw__btn {
  display: flex;
  justify-content: space-between;
}

.reset__psw__submitbtn {
  align-self: flex-start;
  padding: 10px 40px;
  color: #ffffff;
  background-color: #57b1ba;
  border: 1px solid #57b1ba;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.reset__psw__submitbtn:hover {
  background-color: #388890;
}
.reset__psw__cancelbtn {
  border: none;
  color: #57b1ba;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.reset__psw__cancelbtn:hover {
  color: #388890;
}
